html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #454445; /* Dark gray */
}

body {
	padding-top: 90px;
}

.main-wrapper {
	position: relative;
	min-height: 100%;
}

/* Navbar Styles - need a taller navbar because of logo */

.navbar-brand {
    height: 90px;
}

.navbar-toggle {
	margin-top: 26px;
	margin-bottom: 26px;
}

.navbar-nav li a {
	height: 90px;
	line-height: 90px;
	padding-top: 0;
	color: #CCC; /* Light Grey */
}

/* Make room for the footer */
.content-container {
	padding-bottom: 90px;
}

/* Main Page Banner */

.parallax-window {
	display: table;
    min-height: 700px;
    background: transparent;
}

.banner-quote {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
}

.banner-quote h1 {
	margin-top: 10px;
	color: #FEFDFA; /* Light Yellow Grey */
	font-size: 80px;
	font-family: 'Shadows Into Light', cursive;
}

h2 {
	margin-bottom: 30px;
}

.img-responsive {
	margin-bottom: 20px;
}

/* HR Style */

hr {
	border-top: 1px dotted #AAA;
	clear: both;
}

/* Tickets Styles */

.top-space {
	margin-top: 40px;
}

.bg-gold, .btn-gold {
	background-color: #C90;
	border-color: #C90;
}

.btn-gold:hover {
	background-color: #A37A00;
	border-color: #A37A00;
}

.bg-silver, .btn-silver {
	background-color: #999;
	border-color: #999;
}

.btn-silver:hover {
	background-color: #7A7A7A;
	border-color: #7A7A7A;
}

.bg-bronze, .btn-bronze {
	background-color: #960;
	border-color: #960;
}

.btn-bronze:hover {
	background-color: #7A5200;
	border-color: #7A5200;
}

.price {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}

/* Stargazer's Club Styles */

.stargazers-info {
	margin-top: 20px;
	font-size: 16px;
}

/* Contact Us Styles */

.pull-right {
	padding-right: 20px;
}

/* Footer Styles */

/* Should stick to the bottom of the page if the content does not fill the page */
/* Otherwise, should be at bottom of content and user will have to scroll to see it */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: #222; /* Dark Grey */
	color: #CCC; /* Light Grey */
}

/* Center the footer text vertically */
footer div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

footer p {
	margin-top: 10px;
}

.text-danger {
	color: red;
}

/* Media Queries */

@media (max-width: 767px) {
	/* Adjust navbar item height now that the items are no longer in the navbar */
	.navbar-nav li a {
		height: 70px;
		line-height: 70px;
	}
}
